*{
    font-family: Arial, Helvetica, sans-serif;
    background: seagreen;
}
h1{
    color: #FFF7D6;
    font-size: 25;
    
}

h2{
    color: #CFFFE5
}

.botones2{
    color: #CFFFE5;
    font-size: 20px;
}

.botones1{
    color: #CFFFE5;
    font-size: 20px;
}