body {
  background-color: #fff;
  color: #333;
  font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 1vw;
  margin: 1vw;
  border: 3px solid black;
}

.grid {
  height: 400px;
}

.grid > * {
  background-color: #4D7298;
  border: 2px solid #77A6B6;
  border-radius: 0.5em;
  color: #fff;
  padding: 50px;
}

/*MODIFICAR DESDE ESTA LINEA HACIA ABAJO*/
/*SOLO UTILIZAR GRID*/
/*Se debe crear una cuadrícula en la que se colocarán automáticamente los 6 elementos.  La cuadrícula debe tener tres columnas, 2 filas y un gap de 20 píxeles.*/

.grid {
  /*display: grid;
  gap:20px;
  grid-gap: 50px 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2;
  width: 50%;
  height: 50%;*/

display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 2;
gap: 20px;
column-gap: 200px;
row-gap: 150px;
text-align: center;
width: 50%;
height: 50%;
margin: 0 auto;
justify-content: center;
align-content: space-evenly;

}