body {
  background-color: #fff;
  color: #333;
  font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: 1vw;
  border: 3px solid black;
}

.grid > * {
  background-color: #4D7298;
  border: 2px solid #77A6B6;
  border-radius: 0.5em;
  color: #fff;
  padding: 0.5em;
}

/*MODIFICAR DESDE ESTA LINEA HACIA ABAJO*/
/*SOLO UTILIZAR GRID*/
/*Se debe crear una cuadrícula en la que se colocarán automáticamente los cuatro elementos.  La cuadrícula debe tener tres columnas y un gap de 20 píxeles.*/

.grid {
  display: grid;
  gap:20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:auto auto;
}