/*NO MODIFICAR*/

body {
    background-color: #fff;
    color: #333;
    font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 1em;
    margin: 0;
}

nav ul {
    border: 2px solid #4D7298;
    max-width: 700px;
    list-style:none;
    padding: 0;
    margin: 0;
}

nav a:link,
nav a:visited {
    background-color: #4D7298;
    border: 2px solid #77A6B6;
    border-radius: .5em;
    color: #fff;
    padding: .5em;
    display: inline-block;
    text-decoration: none;
}

/*DESDE ESTE PUNTO MODIFICAR*/
/*Los elementos deben colocarse en fila, con la misma cantidad de espacio entre cada uno de ellos.*/
nav ul {
    display: flex;
    justify-content: space-between;
}