body {
  background-color: #fff;
  color: #333;
  font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 1vw;
  margin: 1vw;
  border: 3px solid black;
  width: 800px;
}

.grid {
  height: auto;
}

.grid > * {
  background-color: #4D7298;
  border: 2px solid #77A6B6;
  border-radius: 0.5em;
  color: #fff;
  padding: 50px;
  font-size: 1vw;
}

.item1, .item2, .item9 {
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  font-size: 1vw;
  background-color: red;
}

/*MODIFICAR DESDE ESTA LINEA HACIA ABAJO*/
/*SOLO UTILIZAR GRID*/

.grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
column-gap: 20px;
row-gap: 20px;
align-content: center;
}

.item1 {
grid-column: 2 / 4;
grid-row: 3 / 5;
}

.item2 {
grid-column: 1 / 4;
grid-row: 1;
}

.item9 {
grid-column: 1 ;
grid-row: 5 / 7;

}